[filament_motion_sensor smart_sensor]
detection_length: 20
#   The minimum length of filament pulled through the sensor to trigger
#   a state change on the switch_pin
#   Default is 7 mm.
extruder: extruder
#   The name of the extruder section this sensor is associated with.
#   This parameter must be provided.
switch_pin: ^!SFS_3
# changing the switch_pin name according to your motherboard
pause_on_runout: True
runout_gcode: _FILAMENT_RUNOUT

[output_pin beeper]
pin: EXP1_1
value: 0
shutdown_value: 0
pwm: true
cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)

[gcode_macro _FILAMENT_RUNOUT]
gcode:
#    _M300 S1 P10
#    _M600
#    _M300 S1 P10

[gcode_macro _M300]
gcode:
    {% set S = params.S|default(1000)|int %}
    {% set P = params.P|default(100)|int %}
        SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
        SET_PIN PIN=beeper VALUE=0

[gcode_macro _M600]
gcode:
    {% set X = params.X|default(25)|float %}
    {% set Y = params.Y|default(25)|float %}
    {% set Z = params.Z|default(10)|float %}
        SAVE_GCODE_STATE NAME=M600_state
        PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-15 F1000
        RESTORE_GCODE_STATE NAME=M600_state

#insert_gcode:

#event_delay:

#pause_delay: